#container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;

  header,
  footer,
  main,
  nav {
    flex: 1 0 100%;
    z-index: 10;
  }

  header {
    z-index: 11;
  }
  footer {
    flex: 0 1 100%;
  }
}

header {
  //z-index: 10;
  text-align: center;
  vertical-align: middle;

  .centered.container {
    padding: 0.5em 0;
    margin: 0 auto;
  }

  .menu.container {
    padding: 0.5em 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    vertical-align: middle;

    div.page.title {
      margin: auto 0;
    }
    div.menu.link {
      margin: auto 0;
      position: relative;
      a {
        display: flex;
        vertical-align: middle;
        img {
          padding: 0 0.5em;
        }
        span {
          position: absolute;
          top: calc((100%/2) - .75em);
          left: 0;
          width: 100%;
          font-weight: 800;
          color: $white;
        }
      }
    }
  }

}

main {
  //z-index: 10;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;

  article.road.background {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 34em;

    p {
      padding: 1em;
      flex: 1 0 80%;
    }
  }

  article {
    width: 100%;
    h4 {
      text-align: center;
      padding: 1em;
    }
    h5 {
      padding: 0.5em;
    }
    ul {
      li {
        margin-left: 2em;
      }
    }
    ul.menu {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      li {
        flex: 1 1 12em;
      }
    }

    hr {
      border: 0;
      height: 3em;
      margin: 1em 0;
      background: url($motif-svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

  }
}

div.solid.background {
  dl,
  p {
    padding: 0.5em;
    margin: 0.5em;
    border: 0;
  }
}

nav {
  ul {
    //flex-flow: column wrap;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;

    li {
      flex: 1 0 12em;
      display: flex;
      a {
        display: inherit;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        //order: 0;
        //padding: auto;
        // width for fallback (10em)

        button {
          display: block;
          margin: auto;
        }
      }
    }
  }
}

footer {
  //position: absolute;
  //bottom: 0px;
  //display: block;
  //max-width: 1440px;
  //width: 100%;
  div {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
  }
}
