.cropped.image {
  overflow: hidden;
  width: calc(100% - 2em);
  height: calc(12em * 2/3);
  margin: 0;
}

.note {
  margin: 0 0.5em !important;
  padding: 0 0.5em !important;
  font-style: italic;
  color: $note-color;
}

a.anchor {
  display: block;
  position: relative;
  top: -6em;
  visibility: hidden;
}
