$light-green:                         #D0DCAA;
$light-yellow:                        #292534;
$green:                               #EEE3B8;
$black:                               #001118;
$blue-grey:                           #6F9DB5;
$white:                               #FFFFFF;
$orange:                              #EBA834;
$orange-cream:                        #E8E9C9;
$grey:                                #77797B;
$dark-blue:                           #001447;

$background-color:                    $light-green;
$logo-color:                          $light-yellow;
$dark-bg-text-color:                  $green;
$dark-bg-bg-color:                    $black;
$subnav-bg-color:                     $blue-grey;
$subnav-text-color:                   $white;
$masthead-text-color:                 $orange;
$portfolio-card-header-color:         $green;
$portfolio-card-description-bg-color: $blue-grey;
$note-color:                          $grey;
$employer-background-color:           $blue-grey;
$employer-background-text-color:      $black;
$employer-background-alt-color:       $grey;
$employer-background-alt-text-color:  $white;
$social-media-icon-color:             $grey;
$social-media-icon-color-alt:         $blue-grey;

$default-font:                        Open Sans, sans-serif;
$condensed-font:                      Roboto Condensed, sans-serif;
$logo-font:                           Patua One, serif;
$handwritten-font:                    Permanent Marker, sans-serif;

$font-size-in-pixels:                 18px;

$header-image:                        '/img/header-background.jpg';
$road-image:                          '/img/road-background.jpg';
$portfolio-image:                     '/img/portfolio-background.jpg';
$portfolio-image-lowres:              '/img/portfolio-background-lowres.jpg';
$resume-image:                        '/img/resume-background.jpg';
$resume-image-lowres:                 '/img/resume-background-lowres.jpg';
$about-image:                         '/img/about-background.jpg';
$about-image-lowres:                  '/img/about-background-lowres.jpg';
$contact-image:                       '/img/contact-background.jpg';
$contact-image-lowres:                '/img/contact-background-lowres.jpg';

$motif-svg:                           '/svg/horizontal-motif.svg';

$site-background:                     url('/img/footer_lodyas.png');
$portfolio-card-background:           url('/img/tweed.png');
