html,
body {
  background-color:   $background-color;
}

#header {
  a {
    color: $logo-color;
  }
  h4 {
    color: $logo-color;
  }
}

.dark.background {
  color: $dark-bg-text-color;
  background-color: $dark-bg-bg-color;
}
