$light-green:         #D0DCAA;
$light-yellow:        #292534;
$green: #EEE3B8;
$black: #001118;

$background-color:    $light-green;
$logo-color:          $light-yellow;
$dark-bg-text-color:  $green;
$dark-bg-bg-color:  $black;

$default-font: Open Sans, sans-serif;
$condensed-font: Roboto Condensed, sans-serif;
$logo-font: Patua One, serif;
$handwritten-font: Permanent Marker, sans-serif;

$font-size-in-pixels: 18px;

$header-image: '/img/header-background.webp';
$road-image: '/img/road-background.jpg';
