body {
  background: $site-background;
}

header {
  .centered.container {
    @include backImage($header-image, center -180px, 900px, 180px);
  }
  .menu.container {
    @include backImage($header-image, center -180px, 900px, auto);
  }
}

main {
  article.road.background {
    @include backImage($road-image, center center, cover, auto);
  }
  article {
    div.portfolio.masthead {
      @include backImage($portfolio-image, center center, 100%, 8em);
    }
    div.resume.masthead {
      @include backImage($resume-image, center center, 100%, 8em);
    }
    div.about.masthead {
      @include backImage($about-image, center center, 100%, 8em);
    }
    div.contact.masthead {
      @include backImage($contact-image, center center, 100%, 8em);
    }
    div.card {
      background: $portfolio-card-background;
    }
  }
}

footer {

  li {
    list-style: none;
  }

  .portfolio {
    @include backImage($portfolio-image-lowres, center center, 100%, 100px);
  }
  .resume {
    @include backImage($resume-image-lowres, center center, 100%, 100px);
  }
  .about {
    @include backImage($about-image-lowres, center center, 100%, 100px);
  }
  .contact {
    @include backImage($contact-image-lowres, center center, 100%, 100px);
  }
}

//linear-gradient
